<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h3 class="card-header bg-primary"><i>Hacia dónde va la investigación en las ciencias de la información</i></h3>
					<div class="card-block">
						<img class="intel d-block img-fluid" src="img/posgrado.jpg">
						<p class="card-text"> 
							Esta presentación fue orientada hacia los posgrados y cuáles son los más importantes.
						</p>
						<p>También nos habló sobre las áreas que tienen los posgrados, y nos menciona que el área en sistemas computacionales como tal no podremos encontrar. </p>
						<p>Nos menciona también que para que un posgrado sea de calidad es reconocido por el CONACYT</p>
						<img class="intel d-block img-fluid" src="img/Conacyt.png">
						<p><b>El Consejo Nacional de Ciencia y Tecnología (Conacyt)</b> es un organismo público descentralizado del gobierno federal mexicano dedicado a promover y estimular el desarrollo de la ciencia y la tecnología en ese país. Tiene la responsabilidad oficial para elaborar las políticas de ciencia y tecnología nacionales.</p>
						<p>Por medio del Conacyt es posible para los estudiantes conseguir apoyo económico a fin de realizar estudios de posgrado (maestría o doctorado) en universidades con reconocida excelencia académica dentro y fuera del país.</p>
						<p>Como dato curioso nos menciona que en México existen 2155 programas de posgrados de calidad.</p>
						<p>En este punto de la conferencia hubo una falla técnica, se fue el sonido, pero volvió a los pocos minutos, tras esta desafortunada falla técnica, fue un poco difícil entender la continuación de la conferencia.</p>
					</div>
			</div>
		</div>
	</div>
</div>