<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h3 class="card-header bg-primary"><i>Carrusel de imagenes</i></h3>
					<div class="card-block">
						<img class="intel d-block img-fluid" src="img/carrusel.jpg">
						<p class="card-text"> 
							El carrusel de imágenes no sólo es un elemento que ahorra espacio de diseño en una página a la hora de presentar una galería de imágenes: es, además, una manera muy eficiente de ofrecer en la portada de un sitio web.
						</p>
						<p>Existen muchísimos plugins para crear slides en jQuery totalmente gratuitos para rotar elementos como si fuera un bucle. Pero si la aplicación web utiliza el framework Bootstrap, no necesitaremos un plugin jQuery adicional para crear un slide de elementos como un carrusel.</p>

						<h3>Codigo HTML</h3>
						<img class="intel d-block img-fluid" src="img/carusel.png">
						
					</div>
			</div>
		</div>
	</div>
</div>