<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h3 class="card-header bg-primary"><i>Criptografia post-cuantica</i></h3>
					<div class="card-block">
						<img class="intel d-block img-fluid" src="img/criptografia.jpg">
						<p class="card-text"> 
							La criptografía postcuantica es la ciencia que desarrolla técnicas matemáticas para cifrar información.
						</p>
						<p>Para entender esta tenemos que saber que es una computadora cuántica, estas computadoras emplean la mecánica cuántica para resolver problemas millones de veces más rápido que los dispositivos actuales. Pero por su complejidad solo existen en prototipos pequeños.</p>
						<img class="intel d-block img-fluid" src="img/pcCuantica.jpg">
						<p>Dos temas muy importantes que se tocaron fueron el de <b>criptografía asimétrica y criptografía simétrica.</b></p>
						<p>Los sistemas de cifrado simétrico son aquellos que utilizan la misma clave para cifrar y descifrar un documento.
						La principal desventaja de esto es el intercambio de claves entre el emisor y receptor, ya que ambos deben de tener la misma llave, por lo tanto, deben de encontrar un medio de comunicación seguro para el intercambio de llaves.</p>
						<p>Algunos de algoritmos para este tipo de cifrado son:</p>
						<ul>
							<li>DES</li>
							<li>3DES</li>
							<li>AES</li>
						</ul>
						<p>La criptografía asimétrica usa dos claves diferentes, una es una clave pública que puede ser adquirida por cualquier persona y la otra es una clave privada esta debe guardarse para que ninguna persona tenga acceso a ella.</p>
						<p>Para poder lograr todo esto existen algoritmos de factorización, algunas de ella son la curva cuadrática y la curva elíptica.  </p>


					</div>
			</div>
		</div>
	</div>
</div>