<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h3 class="card-header bg-primary"><i>Desarrollo web en el 2017 + Tips</i></h3>
					<div class="card-block">
						<img class="intel d-block img-fluid" src="img/desarrollo-web.jpg">
						<p class="card-text"> 
						En esta conferencia se habló sobre las dos partes del desarrollo web y las herramientas que se utilizan en estas, por ejemplo, en la parte de Front-End podemos utilizar HTML + CSS + JS, y para Back-End DB, BL, WS (servidores).
						</p>
						<p>También nos menciona los temas de <b>progressive web app y single-page application.</b></p>

						<p><b>Progressive web</b> app está enfocado para que la pagina pueda estar en cualquier dispositivo.</p>
						<p>Una Progressive Web App es:</p>	
						<ul>
							<li><b>Progresiva:</b> funciona para todos los usuarios, sin importar la elección de navegador, porque está construida con mejora progresiva como principio central.</li>
							<li><b>Adaptable:</b> se adapta a cualquier factor de formulario, sea escritorio, móvil, tablet o lo que venga en el futuro.</li>
							<li><b>Segura:</b> emitida vía HTTPS para evitar intromisiones y para garantizar que el contenido no se haya manipulado.</li>
							<li><b>Estilo app:</b> al usuario le parece una app con interacciones y navegación estilo app, porque está construida con modelo de shell de app.</li>
						</ul>
						<p><b>Single-page application (SPA)</b> es una aplicación web o sitio web que está en una solo página para dar una experiencia fluida como una aplicación de escritorio.</p>
						<p>Entre otros temas que se mencionan esta las ventajas de CSS, esta es que se trabaja con más comodidad ya que todo se puede agrupar.</p>
						<p>Entre otros temas que se mencionan esta las ventajas de CSS, esta es que se trabaja con más comodidad ya que todo se puede agrupar.</p>
						<ul>
							<li>Elegir un lenguaje de programación y hacerlo tu primer amor</li>
							<li>Entrena las habilidades para desarrollar algoritmos</li>
							<li>Entiende como trabaja internamente un frameworks</li>
							<li>Interactua con Git y Github</li>
							<li>No te de tengas al decir “Es solo un proyecto escolar”</li>
							<li>No esperes a noveno semestre para adquirir experiencia</li>
							<li>No te quejes, actúa.</li>
							<li>Trata de crear tu propio negocio </li>
							<li>Leer, leer, leer…</li>
							<li>Aprender ingles.</li>
						</ul>


					</div>
			</div>
		</div>
	</div>
</div>