<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h3 class="card-header bg-primary"><i>Dispositivos robóticos y su integración en aplicaciones con realidad virtual</i></h3>
					<div class="card-block">
						<img class="intel d-block img-fluid" src="img/realidadVirtual.jpg">
						<p class="card-text"> 
						Para comenzar, se habló sobre que es realidad virtual, se dijo que es la representación sintética de la realidad o la representación 3D de la realidad. 
						</p>
						<p>Para interactuar con los objetos tenemos:</p>
						<ul>
							<li>Teclado</li>
							<li>Ratón</li>
							<li>Joystick</li>
							<li>Kinect</li>
							<li>Interfaz óptica</li>
							<li>Dispositivo de captura de movimiento</li>
						</ul>
						<p>Dispositivos de interacción avanzados:</p>
						<ul>
							<li><b>Cybergrasp:</b> permite la sensación de contacto entre las yemas de los dedos y los objetos virtuales en la escena.</li>
							<li><b>Cyberforce:</b> permite la sensación en la palma del usuario el peso de las piezas y las fuerzas de contacto entre piezas.</li>
						</ul>
						<p>Para manipula un objeto se necesita de tres cosas.</p>
						<ol>
							<li>Selección del objeto que se desea manipular</li>
							<li>Definir el algoritmo de selección
							</li>
							<li>Agarrar el objeto, con una matriz de transformación.</li>
						</ol>
						<p>Un punto importante que se hablo fue que un objeto puede tener un comportamiento dinámico o cinemático. Y que para que un objeto se comporte de manera normal se necesita de la utilización de leyes de la física.</p>


					</div>
			</div>
		</div>
	</div>
</div>