
<h1 class="text-center">
  <i>
    JORNADA ACADÉMICA DE COMPUTACIÓN 2017
  </i>
</h1>

<div class="container1">
  <div class="row">
   <div class="col-sm-3">
  
<div class="list-group">
  <a href="#" class="list-group-item active">
    Conferencias
  </a>
  <a href="IA.html" class="list-group-item list-group-item-action">Inteligencia Artificial</a>
  <a href="desarrolloWeb.html" class="list-group-item list-group-item-action">Desarrollo web en el 2017 + Tips</a>
  <a href="criptografia.html" class="list-group-item list-group-item-action">Criptografía post-cuantica </a>
  <a href="HerramientasTecnicas.html" class="list-group-item list-group-item-action">Herramientas y técnicas para incrementar la calidad en el código del proyecto</a>
  <a href="panel.html" class="list-group-item list-group-item-action">Panel</a>
  <a href="adonde.html" class="list-group-item list-group-item-action">Hacia dónde va la investigación en las ciencias de la información</a>
  <a href="disRoboticos.html" class="list-group-item list-group-item-action">Dispositivos robóticos y su integración en aplicaciones con realidad virtual.</a>
  <a href="machineLearning.html" class="list-group-item list-group-item-action">Machine learning</a>

</div>


</div>
  <div class="col-sm-7">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <img class="d-block img-fluid" src="img/jornada1.jpg">
    </div>

    <div class="carousel-item">
        <img class="d-block img-fluid" src="img/selfie2.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="img/selfie.jpg" >
    </div>

     <div class="carousel-item">
      <img class="d-block img-fluid" src="img/panel.jpg" >
    </div>
    <div class="carousel-item">
        <img class="d-block img-fluid" src="img/muchos.jpg" >    
    </div>

    <div class="carousel-item">
        <img class="d-block img-fluid" src="img/gracias.jpg" >    
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">antes</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  </div>

</div>


</div>





