<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h3 class="card-header bg-primary"><i>Machine learning</i></h3>
					<div class="card-block">
						<img class="intel d-block img-fluid" src="img/Machine-Learning.jpg">
						<p class="card-text"> 
						Machine learning es una rama de la inteligencia artificial.
						</p>
						<p>Algunos ejemplos donde se utiliza la inteligencia artificial:</p>
						<ul>
							<li>Netflix</li>
							<li>Tesla</li>
							<li>Amazon</li>
							<li>Google</li>
						</ul>
						<p>Otras ramas que podemos encontrar en la inteligencia artificial son:</p>
						<ul>
							<li>Sistemas expertos</li>
							<li>Visión por computación</li>
							<li>Reconocimiento de diálogos</li>
						</ul>
						<p>Machine learning se divide en:</p>
						<ul>
							<li>Deep learning</li>
							<li>Aprendizaje no supervisado</li>
							<li>Aprendizaje supervisado</li>
						</ul>
						<p>Machine lerning es un modelo matemático que optimiza una función.</p>
						<p>Los algoritmos que maneja son:</p>
						<ul>
							<li>K-means clustering</li>
							<li>Association rules</li>
						</ul>
						<p>Cuando hablamos de machine learning también tenemos que mencionar las redes neuronales, estas están biológicamente inspiradas y se utilizan para clasificación.</p>
						<p>En resumen, las redes neuronales trabajan de la siguiente forma:</p>
						<ul>
							<li>Introducimos datos</li>
							<li>Calculamos probabilidades</li>
							<li>Evaluamos</li>
							<li>Repetimos hasta que el error sea mínimo y lleguemos a un resultado optimo</li>
						</ul>
						<img class="intel d-block img-fluid" src="img/redNeuronal2.jpg">
						<p>Deep learning es un termino comercial, solo se añade mas capas ocultas a una red neuronal. Dependerá de la dificultad de la tarea para usar mas de una capa.</p>
						<img class="intel d-block img-fluid" src="img/deepLearning.jpg">
						<p>Entre las aplicaciones están:</p>
						<ul>
							<li>Colorear imágenes que son a blanco y negro</li>
							<li>Añadir sonido a un video que originalmente no tiene sonido</li>
							<li>Segmentación de objetos</li>
							<li>Generación automática de texto</li>
							<li>Hacer que la computadora aprenda a jugar de manera automática.</li>
						</ul>

						<br>
						<br>
						<br>
						<p>Sugerencia personal:</p>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/Es7HAzFsW1M" frameborder="0" allowfullscreen></iframe>


					</div>
			</div>
		</div>
	</div>
</div>