<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h3 class="card-header bg-primary"><i>Panel</i></h3>
					<div class="card-block">
						<img class="intel d-block img-fluid" src="img/panel.jpg">
						<p class="card-text"> 
							Dentro de las preguntas que se presentaron en el panel y considero importantes están:
						</p>
						<p><b>¿Qué competencias debe de tener un emprendedor en Nayarit?</b></p>
						<p>R. No hay perfil, esto nace de una idea o un sueño.</p>
						<br>
						<br>
						<p><b>¿Qué es más conveniente para un egresado, emprender o ser empleado?</b></p>
						<p>R. Lo mejor es ser empresario, no emprendedor, el emprendedor es cuando se esta aprendiendo. Lo ideal es no ser un Godínez, si no ser patrón de los Godínez.</p>
						<br>
						<br>
						<p><b>¿Qué tan difícil fue convertirse en un empresario?</b></p>
						<p>Para esta pregunta hubo una contradicción de respuesta.</p>
						<p>R1. No es difícil, es cuestión de perseverar y superar los fracasos.</p>
						<p>R2. De 1 a 10, un 20, yo no me veía así pero la situación así me lo pidió.</p>

					</div>
			</div>
		</div>
	</div>
</div>